@import "tailwindcss";

/* LIGHT MODE DEFAULT */

:root {
    --primary: #6A5EF9;
    --primary-dark: #4a47cc;
    --background: #f8faff;
    --foreground: #1a1a1a;
    --card-bg: #ffffff;
    --card-border: #e5e7eb;
    --input-bg: #e5e7eb;
    --input-border: #cbd5e1;
    --text-muted: #6b7280;
    --hover-bg: #cbd5e1;
    --success: #22c55e;
    --danger: #ef4444;
    --info: #3b82f6;
    --glow: rgba(106, 94, 249, 0.35);
    --duration: 350ms;
}

html.dark {
    --primary: #3fa6a0;
    --background: #0c111a;
    --hover-bg: #6b7280;
    --foreground: #e0e6ed;
    --card-bg: #111823;
    --card-border: #1a2333;
    --input-bg: #101726;
    --input-border: #223048;
    --glow: rgba(63, 166, 160, 0.35);
    --text-muted: #cbd5e1;
}

body {
    background: var(--background);
    color: var(--foreground);
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --sidebar-width: 240px;
}

* {
    transition: all var(--duration) ease;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-primary: var(--primary);
    --color-primary-dark: var(--primary-dark);
    --color-card-bg: var(--card-bg);
    --color-card-border: var(--card-border);
    --color-input-bg: var(--input-bg);
    --color-input-border: var(--input-border);
    --color-danger: var(--danger);
    --color-glow: var(--glow);
    --font-sans: var(--font-geist-sans);
}

@media (prefers-color-scheme: light) {
     :root {
        --background: #f8faff;
        --foreground: #1a1a1a;
        --card-bg: #ffffff;
        --card-border: #e5e7eb;
        --input-bg: #f1f5f9;
        --input-border: #cbd5e1;
    }
}

body {
    background: var(--background);
    color: var(--foreground);
    font-family: Arial, Helvetica, sans-serif;
}


/* Sidebar Scrollbar */

::-webkit-scrollbar {
    width: 6px;
}


/* Track almost invisible */

::-webkit-scrollbar-track {
    background: transparent;
}


/* Thumb soft matte */

::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.12);
    border-radius: 10px;
}


/* Slight contrast on hover */

::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 255, 255, 0.18);
}

@media (max-width: 1024px) {
     :root {
        --sidebar-width: 0px;
        /* Tablet & Mobile - Sidebar Collapsed */
    }
}